.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainTitle{
  text-align: center;
  margin: 20px 0;
}

.carsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.car{
  width: 30%;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
