.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainTitle{
  text-align: center;
  margin: 20px 0;
}

.carsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
